CREATE OR REPLACE FUNCTION public.get_public_frequencia_data(p_codigo TEXT)
RETURNS JSONB AS \$\$
DECLARE
  v_turma RECORD;
  v_encontros JSONB;
  v_catequizandos JSONB;
  v_result JSONB;
BEGIN
  -- 1. Buscar a turma
  SELECT id, nome, ano, etapa
  INTO v_turma
  FROM public.turmas
  WHERE codigo_acesso = p_codigo
  LIMIT 1;

  IF NOT FOUND THEN
    RETURN NULL;
  END IF;

  -- 2. Buscar encontros
  SELECT COALESCE(jsonb_agg(
    jsonb_build_object(
      'id', id,
      'data', data,
      'tema', COALESCE(tema, ''),
      'status', COALESCE(status, 'pendente'),
      'presencas', COALESCE(presencas, '[]'::jsonb),
      'justificativas', COALESCE(justificativas, '{}'::jsonb)
    ) ORDER BY data ASC
  ), '[]'::jsonb)
  INTO v_encontros
  FROM public.encontros
  WHERE turma_id = v_turma.id;

  -- 3. Buscar catequizandos
  SELECT COALESCE(jsonb_agg(
    jsonb_build_object(
      'id', id,
      'nome', nome,
      'status', status,
      'foto', foto
    )
  ), '[]'::jsonb)
  INTO v_catequizandos
  FROM public.catequizandos
  WHERE turma_id = v_turma.id
    AND (status IS NULL OR status = 'ativo');

  -- 4. Construir resultado
  v_result := jsonb_build_object(
    'turma', jsonb_build_object(
      'id', v_turma.id,
      'nome', v_turma.nome,
      'ano', v_turma.ano,
      'etapa', v_turma.etapa
    ),
    'encontros', v_encontros,
    'catequizandos', v_catequizandos
  );

  RETURN v_result;
END;
\$\$ LANGUAGE plpgsql SECURITY DEFINER SET search_path = public, pg_temp;

GRANT EXECUTE ON FUNCTION public.get_public_frequencia_data(TEXT) TO anon;
GRANT EXECUTE ON FUNCTION public.get_public_frequencia_data(TEXT) TO authenticated;

